/*
Basic page sections
 */

header {
    margin-top: 86px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

footer {
    margin-top: 40px;
}

nav {
    background-color: #BE6229;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*
basic html elements
 */

hr {
    clear: both;
    display: block;
    width: 100%;

    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

blockquote {
    font-family: 'Playfair Display', serif;
}

/*
Adjustments to page elements & sections
 */

#youarehere, footer {
    background-color: #9B4612;
    color: white;
    padding: 15px 10px 5px 10px;

    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.26);
}

/*
Customized Bootstrap classes
 */
.jumbotron {
    padding-top: 170px;
    margin-bottom: 0;
    background-color: #F3A16E;
}

.badge {
    margin-right: 20px;
    padding: 6px 20px;
}

.btn-primary {
    background-color: #9B4612;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #632600;
}

.figure-caption {
    color: #632600;
}

/*
Custom classes
 */

.concepts {
    background-color: cornsilk;
    padding: 30px;
}

.related {
    padding: 30px;
}

.all_content {
    margin-top: 25px;
}

.quote_link * {
    color: black;
}

.alert {
    background-color: yellow;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}