/*
Basic page sections
 */

header {
    margin-top: 86px;
    position: fixed;
    width: 100%;
}

footer {
    margin-top: 40px;
}

/*
basic html elements
 */

hr {
    clear:both;
    display:block;
    width: 100%;

    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*
Adjustments to page elements & sections
 */

#youarehere, footer {
    background-color: darkslateblue;
    color: white;
    padding: 5px;
}


/*
Customized Bootstrap classes
 */
.jumbotron {
    padding-top: 170px;
    margin-bottom: 0;
}

.badge {
    margin-right: 20px;
    padding: 6px 20px;
}


/*
Custom classes
 */

.concepts {
    background-color: cornsilk;
    padding: 30px;
}
.related {
    padding: 30px;
}
.all_content {
    margin-top: 25px;
}